default:
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - 'EC\Behat\PoetryExtension\Tests\FeatureContext'
        - 'EC\Behat\PoetryExtension\Context\PoetryContext'
  extensions:
    EC\Behat\PoetryExtension:
      client:
        base_url: 'http://localhost:8085'
        endpoint: '/notification'
  formatters:
    progress: ~
